@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: poppins;
}
:root{
    --content-right-width:63vw;
    --background-left:'assets/image.jpg';
}


.content-left{
    background:url('./image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width: calc(100vw - var(--content-right-width));
    height:100vh;
    display: flex;
    flex-direction: column;
    color:white;
}


.logo{
    margin-top: 30%;
    display: flex;
    padding: 10% 40%;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.375);
    /* font-weight: bold; */
}
.logo>h1{
   font-weight: 700;
   color:pink;
   font-weight: bold;
}
.bottom{
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.logo-icon{
    width:100px;
}